main {
  padding: var(--gap-s);
  margin-bottom: var(--gap-xxl);
  margin-top: var(--gap-m);
  line-height: 1.3em;
  color: var(--color-font);
}

h2 {
  line-height: 1.2em;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

article.card {
  background-color: var(--color-inverse);
  border-radius: 8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.08);
  padding: var(--gap-s);
  border-top: var(--gap-xs) solid var(--color-primary);
}

.bookmark {
  float: right;
  background-color: var(--color-secondary);
  width: 24px;
  height: 24px;
  border-radius: 50px;
  padding: 6px;
  cursor: pointer;
  transition: background-color 500ms ease-in-out;
}

.bookmark:hover {
  background-color: var(--color-primary);
}

.bookmark.active {
  background-color: var(--color-highlight);
}

.navhelp {
  padding: var(--gap-xs) var(--gap-l);
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  background: var(--background-gradient-nav);
  width: 50%;
  color: var(--color-inverse);
  margin: -24px 20% 12px 20%;
}

/*
profile page styles
*/

.card.profile .user {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-l);
  align-items: center;
  padding: var(--gap-m) 0px;
}

.card.profile .about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: var(--gap-l);
}

.card.profile .settings {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-m);
  align-items: center;
}

.card.profile .user img {
  width: 30%;
  border-radius: 200px;
  transition: width 0.5s ease-in-out;
}
.card.profile .user img:hover {
  width: 32%;
}

/*notfunctional yet*/
.card.profile .user img:hover ~ #hintText {
  opacity: 0;
  display: none;
}
#hintText {
  opacity: 1;
  display: block;
}

.card.profile h2 {
  font-weight: 800;
  margin-bottom: -30px;
}

.card.profile h3 {
  margin-block-start: 1em;
  margin-block-end: 0em;
  width: 100%;
}

.card.profile .counter {
  display: flex;
  flex-direction: row;
  gap: var(--gap-s);
}

.counter .questions,
.counter .bookmarks {
  border-radius: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: var(--gap-m);
  align-items: center;
  padding: 6px 24px 6px 6px;
  cursor: pointer;
}

.counter img {
  height: 24px;
  border-radius: 100px;
  padding: 3px;
}
.counter .questions img {
  background-color: var(--color-tertiary);
}
.counter .bookmarks img {
  background-color: var(--color-primary);
}

.counter span {
  font-size: 1.2em;
}

.counter .questions {
  border: 3px solid var(--color-tertiary);
}

.counter .bookmarks {
  border: 3px solid var(--color-primary);
}

.profile:before {
  display: none;
}

/*Custom Toggle on profile*/
label.mytoggle {
  display: block;
  width: 54px;
  height: 26px;
  border: 5px solid var(--color-primary);
  border-radius: 20px;
  background: white;
  cursor: pointer;
}

label.mytoggle:before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: var(--color-secondary);
  border-radius: 50px;
  border: 2px solid var(--color-inverse);
}

input.mytoggle {
  display: none;
}

input.mytoggle:checked + label.mytoggle::before {
  position: relative;
  left: 50%;
}

input.mytoggle:checked + label.mytoggle {
  border-color: var(--color-primary);
  background: var(--color-primary);
}

/* other general card styles*/

.card h2 {
  padding-bottom: var(--gap-s);
}

.card button {
  background-color: var(--color-primary);
  color: var(--color-inverse);
  padding: var(--gap-s);
  border-radius: 8px;
  border: none;
  margin-bottom: var(--gap-s);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 2;
  transition: background-color 300ms ease-in-out 200ms,
    box-shadow 300ms ease-in-out;
}

.card button:hover {
  background-color: var(--color-primary);
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.18);
}

.card code {
  font-size: large;
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding-inline-start: unset;
  gap: var(--gap-s);
  margin-top: var(--gap-m);
}

.card ul li {
  background-color: var(--color-secondary);
  padding: var(--gap-xs) var(--gap-m);
  border-radius: 50px;
  color: var(--color-inverse);
  cursor: pointer;
}

.card ul li:hover {
  filter: saturate(150%);
}

/* ---------- Old without the animation, kept here while in DEV of this branch for backup purpose

.card .answer {
  padding: var(--gap-m);
  background-color: var(--color-secondary);
  color: var(--color-inverse);
  margin: 12px -12px;
  display: none;
}

.card .answer.active {
  display: block;
} */

.card .answer {
  padding: var(--gap-m);
  background-color: var(--color-secondary);
  color: var(--color-inverse);
  margin: 12px -12px;
  margin-top: -100px;
  min-height: 50px;
  position: relative;
  opacity: 0;
  transition: opacity 800ms ease-in-out 300ms, margin-top ease-in-out 200ms;
}

.card .answer.active {
  opacity: 1;
  margin-top: 12px;
}

.card .answer:not(.active) {
  transition: opacity 200ms, margin-top 300ms 200ms;
}

/* Alternating Card Styles*/
article.card:nth-child(2n) {
  border-top: var(--gap-xs) solid var(--color-tertiary);
}

.card:nth-child(2n)::before {
  background: var(--color-quartary);
}

.card:nth-child(2n) button {
  background-color: var(--color-tertiary);
}

.card:nth-child(2n) .answer,
.card:nth-child(2n) li {
  background-color: var(--color-quartary);
}

/*Input form for new Questions based on card*/
.card form {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
  padding: 5%;
}

.card form input,
textarea {
  border: 3px solid var(--color-primary);
  padding: 8px;
  font-size: 0.9em;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.card form span {
  margin-bottom: 24px;
  margin-top: -12px;
  font-size: 0.9em;
  text-align: right;
}
.card form span.over {
  color: red;
}

.card form label {
  background-color: var(--color-primary);
  color: var(--color-inverse);
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 8px;
}

.card form button {
  width: 50%;
  min-width: 200px;
  align-self: center;
}

/* Entrance animation for cards*/
.animate {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 0.3s;
}

.animate:nth-child(2) {
  animation-delay: 0.45s;
}

.animate:nth-child(3) {
  animation-delay: 0.7s;
}

.animate:nth-child(4) {
  animation-delay: 1s;
}

.animate:nth-child(5) {
  animation-delay: 1.1s;
}
.animate:nth-child(6) {
  animation-delay: 1.2s;
}
.animate:nth-child(7) {
  animation-delay: 1.3s;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

/*Reduced Motion A11y Einstellung*/
@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}
