header {
  /*fonts & colors*/
  font-family: var(--font-header);
  background-color: var(--color-primary);
  color: var(--color-font-inverse);
  text-align: center;
  font-size: 1.5em;

  padding: var(--gap-xxs);
}

nav {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: var(--gap-xl);
  padding-inline-start: unset;
}

nav ul li img {
  height: 100%;
}
